*
!.gitignore
!.dtermrc
!.gitignore
!.profile
!.vimrc
!.xinitrc
!.xprofile
!.Xresources
!.zshrc
!.bash_copletion
!.bash_completion.d/
!.bash_completion.d/*
!.config/
!.config/bash/
!.config/bash/*
!.config/bspwm/
!.config/bspwm/*
!.config/git/
!.config/git/*
!.config/i3/
!.config/i3/*
!.config/lf/
!.config/lf/*
!.config/mimi/mime.conf
!.config/nvim/
!.config/nvim/*
!.config/nvim/lua/
!.config/nvim/lua/*
!.config/nvim/lua/config/
!.config/nvim/lua/config/*
!.config/polybar/
!.config/polybar/*
!.config/rofi/config
!.config/sxhkd/sxhkdrc
!.config/termite/config
!.config/tmux/
!.config/tmux/*
!.config/zathura/zathurarc
!env-init.sh
!readme.md
!bin/
!bin/*
