*

!.gitignore
!bin/
!env-init.sh
!readme.md
!.dtermrc
!.gitignore
!.profile
!.vimrc
!.xinitrc
!.xprofile
!.Xresources
!.zshrc
!.bash_copletion
!.bash_completion.d/
!.config/bash/
!.config/bspwm/
!.config/git/
!.config/i3/
!.config/lf/
!.config/mimi/mime.conf
!.config/nvim/coc-settings.json
!.config/nvim/init.vim
!.config/nvim/plugins.vim
!.config/nvim/after/
!.config/nvim/autoload/
!.config/nvim/ftplugin/
!.config/nvim/lua/
!.config/nvim/plugin/
!.config/polybar/
!.config/rofi/config
!.config/sxhkd/sxhkdrc
!.config/termite/config
!.config/tmux/
!.config/zathura/zathurarc

