#!/bin/sh

# Setup monitors
xrandr --output HDMI2 --primary --auto --output HDMI3 --auto --right-of HDMI2
# Setup keyboard
# See /usr/share/X11/xkb/rules/base.lst for options
setxkbmap -layout us,ca \
	  -variant altgr-intl,multix \
	  -option \
	  -option ctrl:nocaps \
	  -option grp_led:caps \
	  -option grp:alt_shift_toggle \
	  -option compose:rctrl \
          -option terminate:ctrl_alt_bkspc
# Start with num lock on
numlockx on
# change cursor when over background
xsetroot -cursor_name left_ptr
# load xresources
xrdb -load ~/.Xresources
# Start barrier daemon for mouse/keyboard sharing
tmux new-session -s barrier -d "barriers -f --enable-crypto -d INFO --config $HOME/.config/barrier/barrier.conf"
# Set background wallpaper
feh --bg-fill ~/.config/wall.png
# start other daemons & apps
copyq &
volumeicon &
unclutter &
nm-applet &
xfce4-notes &
slack &

